<div class="cont">
    <h1>Student's Detail</h1>
<div>
    <span>Name:</span>
    <span>Akriti</span>
</div>
<div>
    <span>Address:</span>
    <span>qdwqef</span>
</div>
<div>
    <span>College:</span>
    <span>NIT</span>
</div>
<div>
    <span>Email:</span>
    <span>Akradf@agac.com</span>
</div>
<div>
    <span>Phone No:</span>
    <span>12349867</span>
</div>
<hr>

<button><a [routerLink]="['/add-interview']" routerLinkActive="router-link-active" >Add Interview</a></button>


<br>
<br>
<div class="prev">
    <div class="prev-in">
        <div class="inc">
            <div>Interview Number : Interview Number</div>
            <div>Date: Interview Date</div>
            <div>
                <span>Prateek Satija</span>
                <span>Company</span>
            </div>
        </div>

        <div>
            <div>
                <span class="cl-1"><h3>Evaluation Matrix</h3></span>
                <span class="cl-2"><h3>Score</h3></span>
                <span class="cl-3"><h3>Comment</h3></span>
            </div>
            <div>
                <span class="cl-1">Resume Presentation</span>
                <span class="cl-2"></span>
                <span class="cl-3"></span>
            </div>
            <div>
                <span class="cl-1">Communication</span>
                <span class="cl-2"></span>
                <span class="cl-3"></span>
            </div>
            <div>
                <span class="cl-1">Technical Knowledge</span>
                <span class="cl-2"></span>
                <span class="cl-3"></span>
            </div>
            <div>
                <span class="cl-1">Approach Towards Problem Solving</span>
                <span class="cl-2"></span>
                <span class="cl-3"></span>
            </div>
            <div>
                <span class="cl-1">Resource Utilization</span>
                <span class="cl-2"></span>
                <span class="cl-3"></span>
            </div>
            <div>
                <span class="cl-1">Overall Impression</span>
                <span class="cl-2"></span>
                <span class="cl-3"></span>
            </div>
        </div>
    </div>
</div>
</div>
